input[type=submit]{
    border-radius:5px ;
    border: thin;
    width: 150px;
    height: 45px;
    background-color: #fca834; 
    color:#ffffff ;
    font-size: 18px;
    position: relative;
    top: 30px;
  }
  input[type=submit]:hover{
    background-color:#fff;
    border: 1px solid;
    border-color:#908f8e;
    color: #fca834; 
  }
  #addform{
    position: relative;
    left:9px;
    top:150px;
    text-align: center;
  }

  #container1{
    position: relative;
    left:710px;
    top:180px;
    height:150px;
    width:500px;
    background:#fca834;
    border-radius: 4px;
  }
  #container2{
    position: relative;

    height:600px;
    width:500px;
    border: 1px solid;
    border-radius: 4px;
    border-color:#908f8e ;
  }
  input{
    border: 1px solid;
    border-radius: 4px;
    border-color:#908f8e ;
    height: 25px;
    width: 200px;
  }
  select{
    border: 1px solid;
    border-radius: 4px;
    border-color:#908f8e ;
    height: 29px;
    width: 200px;
  }
  #title1{
    position: relative;
    left:155px;
    top:50px;
    color:#f5f2ec ;

  }